@import url(https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Pangolin&family=Reenie+Beanie&family=Rock+Salt&display=swap);

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .container {
      width: 100%;
    }
  }

