@import url(https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Pangolin&family=Reenie+Beanie&family=Rock+Salt&display=swap);

.container {
    justify-content: center;
    width: 80%;
    font-family: 'Pangolin', cursive !important;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.fontsize {
    font-size: 0.8rem;
}

.limitText {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.button {
    margin-right: 5px;
}

/* Alternative CSS code for .limitText:
    .limitText {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    This will cause the body of the article to be condensed into ONE line and then
    truncate it with '...', while hiding the overflowing words. However, if you want
    more lines to appear & then end off with the '...' at the end, use the code above it instead
    Refer to https://css-tricks.com/almanac/properties/l/line-clamp/ for more information
*/ 