@import url(https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Pangolin&family=Reenie+Beanie&family=Rock+Salt&display=swap);

.container {
  justify-content: center;
  width: 80%;
  font-family: "Pangolin", cursive !important;
  word-wrap: break-word;
}

.fontsize {
  font-size: 0.8rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

/* Line 21-23 preserves the line-breaks or white-spaces in the textarea */
.whitespace {
  white-space: pre-wrap;
}

.forbidden {
  font-family: "Pangolin", cursive !important;
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 769px) {
  .image {
    width: auto;
  }
}
