@import url(https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Pangolin&family=Reenie+Beanie&family=Rock+Salt&display=swap);

.container {
    justify-content: center;
    width: 80%;
    font-family: 'Pangolin', cursive !important;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.fontsize {
    font-size: 0.8rem;
}

