@import url(https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Pangolin&family=Reenie+Beanie&family=Rock+Salt&display=swap);

.container {
    justify-content: center;
    width: 80%;
    font-family: 'Pangolin', cursive !important;
}

.form {
    display: flex;
    flex-direction: column;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 100px;
}

.spacing {
    margin-top: 0.5rem;
}

textarea {
    height: 150px;
}