/* !important in CSS means 'this is important' and can only be placed at the end of the line; 
What it does is that it tells the IDE to apply the !important rule and ignore all subsequent rules.
Based on stackoverflow, !important can help to "force" your CSS rule to work  
*/

/* free fonts from google fonts */
/* Possible contenders: Pangolin, Reenie Beanie, Rock Salt, Homemade Apple - in order */
@import url(https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Pangolin&family=Reenie+Beanie&family=Rock+Salt&display=swap);

.container {
  margin: 50px 0px;
}

.card {
  margin: 0 2% !important; 
}

.infected {
  background-color: rgba(100, 180, 255, 0.5) !important;
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  background-color: rgba(190, 240, 200, 0.5) !important;
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.active {
  background-color: rgba(240, 200, 150, 0.5) !important;
  border-bottom: 10px solid rgba(240, 235, 0, 0.5);
}

.deaths {
  background-color: rgba(240, 180, 180, 0.5) !important;
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.font {
  font-family: 'Pangolin', cursive !important;
}

/* CSS Code for Mobile responsiveness */ 
@media only screen and (max-width: 768px) {
  .card {
    margin: 2% 0 !important;
  }
}