@import url(https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Pangolin&family=Reenie+Beanie&family=Rock+Salt&display=swap);

body {
  background-image: url("./images/COVID19-bg.jpg");
  background-repeat: repeat;
  background-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 400px;
}

.forbidden {
  font-family: "Pangolin", cursive !important;
}

.footer {
  font-family: "Pangolin", cursive !important;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.fontColor {
  color: black;
}

.fontAwesome {
  transition: 0.5s;
  margin-right: 5%;
}

.fontAwesomeNoMargin {
  transition: 0.5s;
}

.fontAwesome:hover,
.fontAwesomeNoMargin:hover {
  transform: scale(1.4, 1.4);
}

.line {
  margin: 12px 0;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 15%;
  }

  .image {
    width: 100%;
  }
}
