/* html {
  background-image: url();
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 15%;
  }
}